@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap");
.homePage {
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homePage .header {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
}
.homePage .header > a:nth-child(2) {
  margin-left: auto;
}
.homePage .header > a {
  margin: 1rem;
}
.homePage .header > a:-webkit-any-link {
  color: #000;
  text-decoration: none;
}
.homePage .header > a:-moz-any-link {
  color: #000;
  text-decoration: none;
}
.homePage .header > a:any-link {
  color: #000;
  text-decoration: none;
}
.homePage .homeSection {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.homePage .homeSection .sectionTitle {
  text-transform: uppercase;
  font-size: 30px;
  margin: 1rem;
}
.homePage .homeSection .sectionBody {
  font-size: 25px;
  font-weight: 100;
  margin: 1rem;
}
.homePage .homeSection .sectionLink {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem 0.5rem;
  font-size: 18px;
  height: 3rem;
}
.homePage .homeSection .sectionLink > div {
  margin: 0.5rem;
}
.homePage .homeSection .sectionLink > a:-webkit-any-link {
  color: black;
}
.homePage .homeSection .sectionLink > a:-moz-any-link {
  color: black;
}
.homePage .homeSection .sectionLink > a:any-link {
  color: black;
}
.homePage .footer {
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
}
.homePage .footer > div {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.homePage .footer > div .linkedinLink, .homePage .footer > div .email {
  margin: 0px 10px;
}
.homePage .footer > div .linkedinLink:-webkit-any-link, .homePage .footer > div .email:-webkit-any-link {
  color: #000;
}
.homePage .footer > div .linkedinLink:-moz-any-link, .homePage .footer > div .email:-moz-any-link {
  color: #000;
}
.homePage .footer > div .linkedinLink:any-link, .homePage .footer > div .email:any-link {
  color: #000;
}

.formPage {
  background-color: antiquewhite;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.formPage .header {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
}
.formPage .header > a:nth-child(2) {
  margin-left: auto;
}
.formPage .header > a {
  margin: 1rem;
}
.formPage .header > a:-webkit-any-link {
  color: #000;
  text-decoration: none;
}
.formPage .header > a:-moz-any-link {
  color: #000;
  text-decoration: none;
}
.formPage .header > a:any-link {
  color: #000;
  text-decoration: none;
}
.formPage .darkHeader {
  background-color: #180f03;
  color: #b0a393;
  display: none;
}
.formPage .darkHeader > a:-webkit-any-link {
  color: #b0a393;
}
.formPage .darkHeader > a:-moz-any-link {
  color: #b0a393;
}
.formPage .darkHeader > a:any-link {
  color: #b0a393;
}
.formPage .createdPostPage {
  margin-bottom: auto;
  background-color: #180f03;
  color: #b0a393;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: -webkit-fill-available;
}
.formPage .createdPostPage .cardActionBtns {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
}
.formPage .createdPostPage .closeCardBtn, .formPage .createdPostPage .downloadCardBtn {
  cursor: pointer;
  margin: 5px;
  transition: 300ms all ease-in-out;
}
.formPage .createdPostPage .closeCardBtn svg, .formPage .createdPostPage .downloadCardBtn svg {
  width: 26px;
  height: 26px;
  color: #c8bebe;
}
.formPage .createdPostPage .closeCardBtn:hover, .formPage .createdPostPage .downloadCardBtn:hover {
  transform: scale(1.3);
}
.formPage .formHead {
  font-size: 20px;
  margin: 2rem 2rem 1rem 2rem;
  color: #795418;
  text-transform: uppercase;
}
.formPage .postForm {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem;
  width: 100vw;
  box-sizing: border-box;
  margin-bottom: auto;
}
.formPage .postForm > label:nth-child(1), .formPage .postForm label:nth-child(2), .formPage .postForm label:nth-child(3), .formPage .postForm label:nth-child(4) {
  margin: 10px 1rem;
  display: flex;
}
.formPage .postForm > label:nth-child(1) input, .formPage .postForm label:nth-child(2) input, .formPage .postForm label:nth-child(3) input, .formPage .postForm label:nth-child(4) input {
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 0px 15px 0px 10px;
  padding: 0px 30px;
  font-size: 16px;
  font-family: "Overpass Mono", monospace;
  box-sizing: border-box;
  transition: 400ms all ease;
}
.formPage .postForm > label:nth-child(1) input:focus, .formPage .postForm label:nth-child(2) input:focus, .formPage .postForm label:nth-child(3) input:focus, .formPage .postForm label:nth-child(4) input:focus {
  outline: none;
  border-bottom: 3px solid rgb(47, 42, 18);
  font-size: 20px;
}
.formPage .postForm > label:nth-child(5) {
  margin: 10px 1rem;
  display: flex;
}
.formPage .postForm > label:nth-child(5) svg {
  margin: 2px 25px;
  display: flex;
  align-items: center;
  font-size: 31px;
}
.formPage .postForm .postButton {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  padding: 4px 8px 2px 10px;
  box-sizing: border-box;
  margin-left: auto;
  background-color: rgb(84, 75, 63);
  border: none;
  border-bottom: 1px solid antiquewhite;
  color: antiquewhite;
  text-transform: uppercase;
  font-family: "Overpass Mono", monospace;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  transition: 380ms all ease-in-out;
}
.formPage .postForm .postButton p {
  margin: 0px 5px;
}
.formPage .postForm .postButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.formPage .postForm .postButton:hover {
  background: none;
  color: #000;
  border-color: #000;
}
.formPage .footer {
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
}
.formPage .footer > div {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.formPage .footer > div .linkedinLink, .formPage .footer > div .email {
  margin: 0px 10px;
}
.formPage .footer > div .linkedinLink:-webkit-any-link, .formPage .footer > div .email:-webkit-any-link {
  color: #000;
}
.formPage .footer > div .linkedinLink:-moz-any-link, .formPage .footer > div .email:-moz-any-link {
  color: #000;
}
.formPage .footer > div .linkedinLink:any-link, .formPage .footer > div .email:any-link {
  color: #000;
}
.formPage .darkFooter {
  color: #b0a393;
  background-color: #180f03;
  display: none;
}
.formPage .darkFooter > div .linkedinLink:-webkit-any-link, .formPage .darkFooter > div .email:-webkit-any-link {
  color: #b0a393;
}
.formPage .darkFooter > div .linkedinLink:-moz-any-link, .formPage .darkFooter > div .email:-moz-any-link {
  color: #b0a393;
}
.formPage .darkFooter > div .linkedinLink:any-link, .formPage .darkFooter > div .email:any-link {
  color: #b0a393;
}

.songPostContainer {
  background: #efefef;
  height: 80%;
  width: 80%;
  background-image: url("/Users/kartik.dhawan/dev/mern/post-it/client/src/assets/SongPostBackgrounds/songpost1.0.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.songPostContainer .songPost {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 230px;
  background-color: #efefef;
  z-index: 100;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.songPostContainer .songPost img {
  -o-object-fit: cover;
     object-fit: cover;
}
.songPostContainer .songPost .postCover {
  aspect-ratio: 1;
  background: #000;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.songPostContainer .songPost .postTitle {
  margin: 5px;
  font-size: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  color: #4f3e25;
}
.songPostContainer .songPost .postArtist {
  margin: 5px;
  text-transform: capitalize;
  color: #4f3e25;
}
.songPostContainer .songPost .postTags {
  margin: 13px 5px 5px 5px;
}
.songPostContainer .songPost .postCredits {
  margin: 5px;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.songPostContainer .songPost .postCredits .postIcon {
  margin: 0px 5px 0px 0px;
}
.songPostContainer .songPost .postCredits .postCreditText {
  text-transform: lowercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.songPostContainer .songPost .updateDeleteOptions {
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  align-items: center;
  justify-content: center;
  transition: 230ms all ease-in-out;
  opacity: 0;
}
.songPostContainer .songPost .updateDeleteOptions:hover {
  opacity: 1;
}
.songPostContainer .songPost .updateDeleteOptions .updatePost, .songPostContainer .songPost .updateDeleteOptions .deletePost {
  color: rgba(238, 238, 238, 0.6666666667);
  font-size: 40px;
  cursor: pointer;
  transition: 300ms all ease;
  background: transparent;
  border: none;
}
.songPostContainer .songPost .updateDeleteOptions .updatePost:hover, .songPostContainer .songPost .updateDeleteOptions .deletePost:hover {
  transform: scale(1.2);
  color: #eee;
}

.dashboardPage {
  background-color: #1d1307;
  color: #d0c3b2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: -webkit-fill-available;
}
.dashboardPage .header {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
}
.dashboardPage .header > a:nth-child(2) {
  margin-left: auto;
}
.dashboardPage .header > a {
  margin: 1rem;
}
.dashboardPage .header > a:-webkit-any-link {
  color: #000;
  text-decoration: none;
}
.dashboardPage .header > a:-moz-any-link {
  color: #000;
  text-decoration: none;
}
.dashboardPage .header > a:any-link {
  color: #000;
  text-decoration: none;
}
.dashboardPage .header > a:-webkit-any-link {
  color: #d0c3b2;
}
.dashboardPage .header > a:-moz-any-link {
  color: #d0c3b2;
}
.dashboardPage .header > a:any-link {
  color: #d0c3b2;
}
.dashboardPage .dashboardBody {
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  position: relative;
}
.dashboardPage .dashboardBody .dashboardHeading {
  display: flex;
  flex-direction: column;
}
.dashboardPage .dashboardBody .dashboardHeading > p {
  text-transform: uppercase;
  font-size: xx-large;
  width: 100%;
  border-bottom: 0.3px solid #d0c3b2;
}
.dashboardPage .dashboardBody .dashboardHeading a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  padding: 4px 8px 2px 10px;
  box-sizing: border-box;
  margin-left: auto;
  background-color: rgb(84, 75, 63);
  border: none;
  border-bottom: 1px solid antiquewhite;
  color: antiquewhite;
  text-transform: uppercase;
  font-family: "Overpass Mono", monospace;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  transition: 380ms all ease-in-out;
  background: transparent;
  border: none;
  margin: -10px auto 10px 0;
}
.dashboardPage .dashboardBody .dashboardHeading a p {
  margin: 0px 5px;
}
.dashboardPage .dashboardBody .dashboardHeading a:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.dashboardPage .dashboardBody .dashboardHeading a:hover {
  background-color: rgba(148, 123, 90, 0.363);
}
.dashboardPage .dashboardBody .cardLayout {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  margin: 3rem 0rem;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
  justify-content: center;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost {
  width: 230px;
  background-color: #efefef;
  z-index: 100;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  transform: scale(1.1);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 30px 20px;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost img {
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postCover {
  aspect-ratio: 1;
  background: #000;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postTitle {
  margin: 5px;
  font-size: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  color: #4f3e25;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postArtist {
  margin: 5px;
  text-transform: capitalize;
  color: #4f3e25;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postTags {
  margin: 13px 5px 5px 5px;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postCredits {
  margin: 5px;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postCredits .postIcon {
  margin: 0px 5px 0px 0px;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .postCredits .postCreditText {
  text-transform: lowercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .updateDeleteOptions {
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  align-items: center;
  justify-content: center;
  transition: 230ms all ease-in-out;
  opacity: 0;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .updateDeleteOptions:hover {
  opacity: 1;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .updateDeleteOptions .updatePost, .dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .updateDeleteOptions .deletePost {
  color: rgba(238, 238, 238, 0.6666666667);
  font-size: 40px;
  cursor: pointer;
  transition: 300ms all ease;
  background: transparent;
  border: none;
}
.dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .updateDeleteOptions .updatePost:hover, .dashboardPage .dashboardBody .cardLayout .cardsContainer .songPost .updateDeleteOptions .deletePost:hover {
  transform: scale(1.2);
  color: #eee;
}
.dashboardPage .dashboardBody .cardLayout .loaderDashboard {
  display: flex;
  transition: all ease;
  min-height: 200px;
}
.dashboardPage .dashboardBody .cardLayout .loaderDashboard .ballLoader {
  height: 17px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: antiquewhite;
  margin: 4px;
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}
@-webkit-keyframes bounce {
  to {
    height: 23px;
    width: 23px;
    transform: translate3d(-10px, -16px, 0);
  }
}
@keyframes bounce {
  to {
    height: 23px;
    width: 23px;
    transform: translate3d(-10px, -16px, 0);
  }
}
.dashboardPage .dashboardBody .cardLayout .loaderDashboard .ballLoader:nth-child(2) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.dashboardPage .dashboardBody .cardLayout .loaderDashboard .ballLoader:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.dashboardPage .dashboardBody .dashBoardBtn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  padding: 4px 8px 2px 10px;
  box-sizing: border-box;
  margin-left: auto;
  background-color: rgb(84, 75, 63);
  border: none;
  border-bottom: 1px solid antiquewhite;
  color: antiquewhite;
  text-transform: uppercase;
  font-family: "Overpass Mono", monospace;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  transition: 380ms all ease-in-out;
}
.dashboardPage .dashboardBody .dashBoardBtn p {
  margin: 0px 5px;
}
.dashboardPage .dashboardBody .dashBoardBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.dashboardPage .dashboardBody .dashBoardBtn:hover {
  background: none;
  color: #000;
  border-color: #000;
}
.dashboardPage .footer {
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-top: auto;
}
.dashboardPage .footer > div {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.dashboardPage .footer > div .linkedinLink, .dashboardPage .footer > div .email {
  margin: 0px 10px;
}
.dashboardPage .footer > div .linkedinLink:-webkit-any-link, .dashboardPage .footer > div .email:-webkit-any-link {
  color: #000;
}
.dashboardPage .footer > div .linkedinLink:-moz-any-link, .dashboardPage .footer > div .email:-moz-any-link {
  color: #000;
}
.dashboardPage .footer > div .linkedinLink:any-link, .dashboardPage .footer > div .email:any-link {
  color: #000;
}
.dashboardPage .footer > div .linkedinLink:-webkit-any-link, .dashboardPage .footer div .email:-webkit-any-link {
  color: #d0c3b2;
}
.dashboardPage .footer > div .linkedinLink:-moz-any-link, .dashboardPage .footer div .email:-moz-any-link {
  color: #d0c3b2;
}
.dashboardPage .footer > div .linkedinLink:any-link, .dashboardPage .footer div .email:any-link {
  color: #d0c3b2;
}

.aboutPage {
  background-color: antiquewhite;
  min-height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.aboutPage .header {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  height: 6rem;
  padding: 1.5rem;
  box-sizing: border-box;
}
.aboutPage .header > a:nth-child(2) {
  margin-left: auto;
}
.aboutPage .header > a {
  margin: 1rem;
}
.aboutPage .header > a:-webkit-any-link {
  color: #000;
  text-decoration: none;
}
.aboutPage .header > a:-moz-any-link {
  color: #000;
  text-decoration: none;
}
.aboutPage .header > a:any-link {
  color: #000;
  text-decoration: none;
}
.aboutPage .aboutSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px auto 0px auto;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 920px) {
  .aboutPage .aboutSection {
    flex-direction: row;
    width: 90%;
  }
}
.aboutPage .aboutSection .aboutImage {
  background: url("/Users/kartik.dhawan/dev/mern/post-it/client/src/assets/IMG_0479.jpg");
  width: 100%;
  aspect-ratio: 1.38095238;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 10px auto;
}
@media (min-width: 768px) {
  .aboutPage .aboutSection .aboutImage {
    height: 420px;
  }
}
@media (min-width: 920px) {
  .aboutPage .aboutSection .aboutImage {
    height: 330px;
  }
}
@media (min-width: 1100px) {
  .aboutPage .aboutSection .aboutImage {
    height: 430px;
  }
}
@media (min-width: 920px) {
  .aboutPage .aboutSection .aboutBody {
    margin: 0px 50px;
  }
}
.aboutPage .aboutSection .aboutBody .aboutName {
  font-size: 27px;
  margin: 30px 0px;
}
@media (min-width: 920px) {
  .aboutPage .aboutSection .aboutBody .aboutName {
    margin-top: 7px;
  }
}
.aboutPage .aboutSection .aboutBody .aboutDetails {
  font-size: 18px;
  text-align: justify;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .detailsPara {
  margin: 20px 0px;
  line-height: 27px;
}
.aboutPage .aboutSection .aboutBody .aboutDetails #connect {
  font-weight: 500;
  font-style: italic;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .footerLinkedin {
  display: flex;
  align-items: center;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .footerLinkedin .linkedinLink {
  margin: 0px 5px;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .footerLinkedin .linkedinLink:-webkit-any-link {
  color: #000;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .footerLinkedin .linkedinLink:-moz-any-link {
  color: #000;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .footerLinkedin .linkedinLink:any-link {
  color: #000;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .email {
  display: flex;
  align-items: center;
}
.aboutPage .aboutSection .aboutBody .aboutDetails .email p {
  margin: 15px 5px;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Courier", Courier, monospace;
  font-family: "Overpass Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}/*# sourceMappingURL=index.css.map */