@mixin header{
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    height: 6rem;
    width: 100vw;
    padding: 1.5rem;
    box-sizing: border-box;
    & > a:nth-child(2){
        margin-left: auto;
    }
    & > a {
        margin: 1rem;
        &:any-link{
            color: #000;
            text-decoration: none;
        }
    }
}

@mixin footer{
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100vw;
    padding: 1.5rem;
    box-sizing: border-box;
    text-transform: uppercase;
    & > div{
        margin: 1rem;
        display: flex;
        align-items: center;
        .linkedinLink, .email{
            margin: 0px 10px
        }
        .linkedinLink:any-link, .email:any-link{
            color: #000;
        }

    }
}

.homePage{
    height: 100vh;
    max-height: -webkit-fill-available;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header{
        @include header;
    }
    .homeSection{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        .sectionTitle{
            text-transform: uppercase;
            font-size:32px;
            margin: 1rem;
            @include m{
                font-size: 35px;
            }
            @include l{
                font-size: 39px;
            }
        }
        .sectionBody{
            font-size: 18px;
            font-weight: 100;
            margin: 10px 1rem;
            @include m{
                font-size: 22px;
                margin: 1rem;
            }
            @include l{
                font-size: 26px;
            }
        }
        .sectionLink{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 23px 9px 0px 9px;
            font-size: 17px;
            @include m{
                font-size: 20px;
                padding: 29px 9px 0px 9px;
            }
            @include l{
                font-size: 23px;
                padding: 36px 9px 0px 9px;
            }
            height: 3rem;
            & > div{
                margin: 0.5rem;
            }
            & > a:any-link{
                color: black;
            }
        }
    }
    .footer{
        @include footer;
    }
}